[project]
name = "{{ .project.name }}"
version = "{{ .project.version }}"
description = "{{ .project.description }}"
authors = [
    {name = "{{ .author.name }}", email = "{{ .author.email }}"}
]
requires-python = ">={{ .python.version }}"
dependencies = [
    "fastmcp{{ .dependencies.fastmcp }}",
    "pydantic{{ .dependencies.pydantic }}",
]

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project.scripts]
{{ .project.name }} = "{{ .python.module_name }}.__main__:main"

[tool.hatch.build.targets.wheel]
packages = ["src/{{ .python.module_name }}"]